@import 'src/asset/style/variables';

.auth-content {
  width: 100%;
  max-width: 360px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;

  .action-buttons {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .auth-btn {
    width: 82px;
    height: 32px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth-link {
    line-height: 30px;
    text-align: center;
  }

  .auth-btn-done {
    text-transform: uppercase;
    color: $secondary-text-color;
    background-color: $primary-color;
  }

  .auth-loader {
    margin: 0 auto;
    div {
      background-color: $light-gray-color;
    }
  }
}

.auth-page-title {
  margin-bottom: 10px;
}

.auth-inputs {
  margin-bottom: 8px;

  .input-group__main {
    display: flex;

    label {
      color: $third-text-color;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82px;
      height: 32px;
      border: 1px solid $light-gray-color;
      border-radius: 6px;
    }

    .input-group__input {
      flex: 1;
      margin-left: 5px;
      padding: 0 3px;
      border: 1px solid $light-gray-color;
      border-radius: 6px;

      &.error {
        border-color: $error-color;
      }

      &:focus {
        outline: none;
        border-color: #41A4FF;
      }
    }

    .input-group__visibility-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-gray-color;
      border-radius: 6px;
      margin-left: 5px;
    }
  }

  .input-group__error {
    color: $error-color;
  }
}
